/* Choosing 256px since it equals 16px*16px, which is the desired grid layout */

#grid-container {
    display: flex;
    width: 640px;
    height: 640px;
    border: 1px solid black;
    flex-wrap: wrap;
}

.grid-item {
    display: flex;
    width: 38px;
    height: 38px;
    border: 1px solid black;
    opacity: 0;
    background-color: black;
}